<div class="container" *ngIf="item">
    <h1>Éditer le fournisseur</h1>

    <a href="#" routerLink="/liste-fournisseurs" class="btn btn-primary">Retour</a>

    <br>

    <div style="text-align: center;">
        <strong> Url :</strong>
        <input class="form-control" [(ngModel)]="item.name">
    </div>

    <br>

    <div style="text-align: center;">
        <strong> Libellé :</strong>
        <input class="form-control" [(ngModel)]="item.url">
    </div>

    <br>

    <div style="text-align: center;">
        <button class="btn btn-primary" (click)="submit()">Enregistrer</button>
      </div>

      <br>

  <p *ngIf="!item">
    Chargement en cours ...
  </p>
