<div class="container" *ngIf="item">
    <h1>Éditer le fournisseur</h1>

    <a href="#" routerLink="/liste-fournisseurs" class="btn btn-primary">Retour</a>

    <br>

    <div class="row">
        <div class="col-md-6">
            Nom
        </div>
        <div class="col-md-6">
            <input class="form-control" [(ngModel)]="item.name">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            Device
        </div>
        <div class="col-md-6">
            <input class="form-control" [(ngModel)]="item.device">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            &nbsp;
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="submit()">Enregistrer</button>
        </div>
    </div>

</div>

<p *ngIf="!item">
  Chargement en cours ...
</p>
