h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 60px; /* Ajout de padding-top pour pousser l'élément sous la navbar */

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
