<!-- <h1>Liste des fournisseurs</h1>

<ul>
  <li>Exemple Fournisseur 1</li>
  <li>Exemple Fournisseur 2</li>
  <li>Exemple Fournisseur 3</li>
</ul> -->


<div class="container">
  <h1>Liste des fournisseurs</h1>

  <a href="#" routerLink="/add-fournisseur/" class="btn btn-success">Ajouter un fournisseur</a>

  <br>

  <table class="table table-bordered" style="text-align: center;">
    <tr>
      <th>IP </th>
      <th width="220px">Action</th>
    </tr>

  </table>
</div>
