<div class="container">
    <h1>Liste des messages</h1>

    <p style="text-align: center;" *ngIf="messages === null">Chargement en cours... </p>

    <br>

    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <th>Date</th>
            <th>Fournisseur</th>
            <th>Contenu</th>
            <th>Label</th>
            <th>Device Id</th>
        </tr>
        <tr *ngFor="let message of messages">
            <td>{{ message.date | date: 'dd/MM/YYYY h:mm:ss a' }}</td>
            <td>{{ message.address }}</td>
            <td>{{ message.body }}</td>
            <td>{{ message.label }}</td>
            <td>{{ message.deviceId }}</td>
        </tr>
    </table>
</div>
