.mdc-data-table__header-cell {
    color: var(--text-color);

}

.matheadercell{
    background-color: var(--btn-header-color) !important;

}
.mat-mdc-cell  {
    padding: 0.5rem;
    color: var(--text-color);

}

.mat-mdc-table {
    background: var(--bkg-color);

}

.mat-mdc-header-cell {
    
    background: var(--text-color);

}


.mat-mdc-table .mat-mdc-header-cell{ 
       background: var(--bkg-color);

}

.mat-paginator {

    background: var(--text-color) !important;


}


table{
        width: 100%;

      }
      
td, th {
        width: 20%;
        word-wrap: break-word;

      }