<div class="container">
    <h1>Afficher le message</h1>
  
    <a href="#" routerLink="/message/index" class="btn btn-primary">Retour</a>

    <br>
   
    <div style="text-align: center;">
        <strong>Date :</strong>
        <p>{{ post.id }}</p>
    </div>

    <br>

    <div style="text-align: center;">
        <strong>IP :</strong>
        <p>{{ post.title }}</p>
    </div>
   
    <br>

    <div style="text-align: center;">
        <strong>Contenu :</strong>
        <p>{{ post.body }}</p>
    </div>
   
</div>