<div class="container">
  <h1>Liste des fournisseurs</h1>

  <a href="#" routerLink="/add-fournisseur/" class="btn btn-success">Ajouter un fournisseur</a>

  <br>

  <p *ngIf="items === null">Chargement en cours... </p>

  <table *ngIf="items" class="table table-bordered" style="text-align: center;">
    <tr>
      <th>Nom </th>
      <th>Url du fournisseur	 </th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>{{ item.name }}</td>
      <td>{{ item.url }}</td>
      <td>
        <a href="#" [routerLink]="['/liste-fournisseurs/', item.id, 'view']" class="btn btn-info">Voir</a>
        <a href="#" [routerLink]="['/liste-fournisseurs/', item.id, 'edit']" class="btn btn-primary">Éditer</a>
        <button type="button" (click)="delete(item.id)" class="btn btn-danger">Supprimer</button>

      </td>
    </tr>
  </table>
</div>
